{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>VisitCounter</title>
    <link rel="stylesheet" href="{% static 'visit.css' %}" />
  </head>
  <body>
    <h1>Ta strona została odwiedzona {{ visit_count }} razy.</h1>
    <hr />

    <button id="click-btn">Kliknij mnie!</button>
    <button id="reset-btn">Resetuj licznik</button>
    <p>Kliknięcia: <span id="click-count">0</span></p>
    <script src="{% static 'counter.js' %}"></script>
  </body>
</html>
