{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>VisitCounter</title>
    <link rel="stylesheet" href="{% static 'visit.css' %}" />
  </head>
  <body>
    <h1>Ta strona została odwiedzona {{ visit_count }} razy.</h1>
    <hr />

    <button id="click-btn">Kliknij mnie!</button>
    <button id="reset-btn">Resetuj licznik</button>
    <p>Kliknięcia: <span id="click-count">0</span></p>
    <script>
      const STORAGE_KEY = 'clickCountVisitCounter';

      const clickBtn = document.getElementById('click-btn');
      const resetBtn = document.getElementById('reset-btn');
      const clickDisplay = document.getElementById('click-count');

      // Wczytywanie localstorage
      let clickCount = parseInt(localStorage.getItem(STORAGE_KEY)) || 0;

      clickDisplay.textContent = clickCount;

      function updateCount(newCount) {
        clickCount = newCount;
        localStorage.setItem(STORAGE_KEY, clickCount);
        clickDisplay.textContent = clickCount;
      }

      // Klikanie
      clickBtn.addEventListener('click', () => {
        updateCount(clickCount + 1);
      });

      // Reset
      resetBtn.addEventListener('click', () => {
        if (confirm('Czy na pewno chcesz zresetować licznik kliknięć?')) {
          updateCount(0);
        }
      });
    </script>
  </body>
</html>
