{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>Strona Główna</title>
    <link rel="stylesheet" href="{% static 'witaj_index.css' %}" />
  </head>
  <body>
    <div class="welcome-box">
      <h1>Witaj na stronie głównej!</h1>

      <p>
        To jest bazowa strona Twojej aplikacji Django. Poniżej znajdziesz
        dostępne ścieżki:
      </p>

      <div class="link-container">
        <a href="hello/">Witaj (Hello)</a>
        <a href="time/">Aktualny Czas (Time)</a>
      </div>

      <p class="instructions">
        Możesz również dodać swoje imię do ścieżki /hello/ (np.
        /hello/TwojeImie).
      </p>
    </div>
  </body>
</html>
