{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>Główny Pulpit Aplikacji Django</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <h1>Pulpit Laboratoriów</h1>
      <nav>
        <a href="/">Strona główna</a>
        <a href="/witaj/">Witaj / Time</a>
        <a href="/visitcounter/">VisitCounter (JS/Django)</a>
      </nav>
    </header>
    <main>
      <h2>Zadania z Programowania Internetowego</h2>
      <p>
        Poniżej znajdziesz szybki dostęp do wszystkich zaimplementowanych
        projektów w ramach zajęć.
      </p>

      <section class="features">
        <div class="feature-card">
          <h3>Aplikacja "Witaj"</h3>
          <p>
            Widoki bazowe, obsługa dynamicznych URL-i (/hello/TwojeImie) oraz
            aktualna data/godzina.
          </p>
          <p>
            <a href="/witaj/" class="lab-link">Przejdź do Witaj</a>
          </p>
        </div>

        <div class="feature-card">
          <h3>VisitCounter (Lab 3A)</h3>
          <p>
            Demonstracja różnicy między backendem (Django) a frontendem
            (JavaScript + localStorage).
          </p>
          <p>
            <a href="/visitcounter/" class="lab-link"
              >Przejdź do VisitCounter</a
            >
          </p>
        </div>

        <!-- <div class="feature-card">
          <h3>TaskBoard (Lab 3B)</h3>
          <p>
            Implementacja interaktywnej aplikacji z dynamicznym odświeżaniem
            listy zadań za pomocą Django API i Fetch API.
          </p>
          <p>
            <span class="lab-link" style="background-color: gray"
              >Do zaimplementowania</span
            >
          </p>
        </div> -->
      </section>
    </main>
    <footer>
      <p>&copy; 2025 Autor: Fabian Leśniak. Powered by Django.</p>
    </footer>
  </body>
</html>
